.trivia-button {
    background-image: linear-gradient(to right, #360033 0%, #0b8793  51%, #360033  100%)
}

.trivia-button {
    color: whitesmoke;
    padding: 8px 20px;
    text-align: left;
    margin: 10px auto; /* 5% from the top, 15% from the bottom and centered */
    width: 80%; /* Could be more or less, depending on screen size */
    height: 100%;
    border-radius: 25px;
    border-color: transparent;
    transition: 0.5s;
    background-size: 200% auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0,
    0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation: bounceIn ease 1s;
}

.trivia-button:hover {
    padding: 12px 30px;
    transition: all 0.3s ease-out;
    color: white;
    transition: 250ms;
    background-position: right center;
    text-decoration: none;
}

@media screen and (min-width: 1400px) {
    .trivia-button {
        width: 850px;
    }
}